* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.cluster-icon {
  background-color: #e43838;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}
